.l-expositions {
  text-align: left;
}

.l-expositions h2 {
  font-family: "changeling-neo-stencil", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 46px;
  color: #504995;
  letter-spacing: -0.94px;
  text-transform: uppercase;
  padding: 105 0 65;
}

.l-expositions img {
  width: 415px;
}

.expositions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.creations,
.explorations,
.interfaces {
  position: relative;
  color: #ffffff;
}

.creations,
.explorations,
.interfaces {
  transition: all 0.3s ease;
}

.creations:hover {
  transform: scale(0.9);
}

.explorations:hover {
  transform: scale(0.9);
}

.interfaces:hover {
  transform: scale(0.9);
}
