.first-row,
.second-row,
.third-row a {
  font-family: "changeling-neo-stencil", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  color: #c0bebe;
  letter-spacing: -0.51px;
  padding: 15 0;
  text-transform: uppercase;
}

.first-row a:hover {
  color: var(--white);
}

.second-row a:hover {
  color: var(--white);
}

.third-row a:hover {
  color: var(--white);
}

.fourth-row a:hover {
  color: var(--white);
}

.fourth-row a,
.logos-partenaires {
  font-family: "changeling-neo-stencil", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  color: #c0bebe;
  letter-spacing: -0.51px;
  text-transform: uppercase;
  position: relative;
  top: 15px;
  left: 0;
}

footer img {
  width: 100px;
  height: 100%;
}

.policy-links a {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #bfbdbd;
  letter-spacing: -0.37px;
  text-align: center;
  line-height: 19px;
  padding: 20px 0;
  text-transform: capitalize;
}

.first-row,
.second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.line {
  height: 2px;
  background-color: var(--grey);
  margin: 0 40px;
}

.third-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.logos-partenaires {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px 50px;
}

.policy-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
