.nav {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 1.6px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-between;
  margin: 60px 0 115px 0;
}

.align-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.burger {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  background: aqua;
  transition: background-color 0.4s;
}

.burger.is-active {
  transform: rotate(90deg);
}

.menu {
  padding: 10px 20px;
  background: var(--dark-grey);
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s;
}

.menu.is-open {
  opacity: 1;
}

.logo {
  width: 170px;
  padding-left: 15px;
}

.name {
  padding-left: 15px;
}

.align-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.place {
  padding-left: 30px;
}

.language {
  text-transform: uppercase;
  padding-left: 30px;
}
