.l-newsletter h2 {
  font-family: "changeling-neo-stencil", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  color: var(--green);
  letter-spacing: -1.23px;
  text-align: center;
  text-transform: uppercase;
  padding: 90 0 100;
}

.write-place {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 18px;
  color: var(--white);
  letter-spacing: -0.51px;
  line-height: 19px;
  padding-left: 15px;
  color: rgb(255, 255, 255);
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px var(--white);
  width: 750px;
  height: 30px;
}

.l-newsletter img {
  width: 30px;
  padding-right: 15px;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 300px;
  padding-bottom: 13px;
  margin-bottom: 80px;
}
