.l-programme {
  color: var(--white);
  text-align: left;
}

.l-programme h2 {
  font-family: "changeling-neo-stencil", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 46px;
  letter-spacing: -0.94px;
  line-height: 44px;
  text-transform: uppercase;
  padding: 150 0 30;
}

.infos-programme {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: -0.51px;
  line-height: 19px;
  padding-bottom: 85;
}

.l-programme .doors {
  padding: 150 0 0;
}

.l-programme .button-green {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: var(--green);
  letter-spacing: 2.79px;
  line-height: 17px;
  border: solid 1px var(--green);
  border-radius: 14;
  display: inline-block;
  padding: 15px 65px;
  margin-bottom: 170px;
  transition: all 0.3s ease;
}

.l-programme .button-green:hover {
  border: solid 1px var(--green);
  background-color: var(--green);
  color: var(--white);
}

.doors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.doors img {
  width: 75%;
}

.door-1,
.door-2,
.door-3 {
  display: flex;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease;
}

.door-info {
  position: absolute;
  top: 195px;
  right: 50px;
  font-family: "roc-grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  letter-spacing: 2px;
  text-align: center;
}

.door-1:hover {
  transform: scale(0.8);
}

.door-2:hover {
  transform: scale(0.8);
}

.door-3:hover {
  transform: scale(0.8);
}

.border {
  position: absolute;
  opacity: 0;
  transition: all 0.2s ease;
}

.door-1:hover .border {
  opacity: 1;
}

.door-2:hover .border {
  opacity: 1;
}

.door-3:hover .border {
  opacity: 1;
}
