.nav-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.l-presentation {
  position: relative;
  overflow: hidden;
}

.l-presentation video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.l-programme {
  background-image: url(../img/programme-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.l-call-to-action {
  background-color: var(--green);
  background-size: 100%;
  background-repeat: no-repeat;
}

.l-evenements {
  min-height: 600px;
}

.l-artistes {
  background-image: url(../img/artistes-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.l-expositions {
  min-height: 600px;
}

.l-newsletter {
  background-image: url(../img/news-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

footer {
  background-color: var(--dark-grey);
}
