.l-presentation {
  background-image: url(../img/presentation-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.l-programme {
  background-image: url(../img/programme-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.l-call-to-action {
  background-color: var(--green);
  background-size: 100%;
  background-repeat: no-repeat;
}

.l-evenements {
  min-height: 615px;
}
